* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

.container {
    width: 80%;
    margin: 0 auto;
}



img {
    width: 100%
}

h1 {
    font-size: 54px;
    line-height: 74px;
    font-weight: 600;
    color: rgba(40, 41, 56, 1);

}

h4 {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: rgba(40, 41, 56, 1)
}

h5 {
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    color: rgba(40, 41, 56, 1)
}

p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(40, 41, 56, 1)
}

h3 {
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: rgba(40, 41, 56, 1)
}

h2 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: rgba(40, 41, 56, 1)
}

h6 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: rgba(40, 41, 56, 1)
}





/*///////////////// sections /////////////////// */


.navbar {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #1C1E53;

}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 122px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__links a:hover {
    color: rgba(255, 255, 255, 1)
}

.nav__links ul {
    display: flex;
}

.nav__links li {
    list-style: none;
    padding-left: 32px;

}

.nav__links a {
    text-decoration: none;
    color: rgba(187, 187, 203, 1);
}



#Contact_button {
    margin-left: 48px;

    text-align: center;
    padding: 16px 48px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.2);
}

#Contact_button:hover {

    border: 2px solid rgba(255, 255, 255, 1);
}



/*//////////////////herosectin///////////////*/

.herosection {
    padding-top: 128px;
    /* padding-left: 160px;
    padding-right: 160px; */
}

.herosection .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.herosection__img {
    width: 100%;
}

.goalsection__text {
    padding: 80px 109px 80px 79px;
    display: flex;
    justify-content: space-around;
}

.goalsection__text__left {
    width: 100%;
    margin-right: 61px;
}


/*////////////////goalsection///////////////////*/
.goalsection {
    padding-top: 128px;

}

.goalsection .container {
    background-color: #F4F5F5;

}

.goalsection__text {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
}


.goalsection__text__right {
    padding-top: 32px;
    width: 100%;

}




/*////////////////processsection///////////////////*/
.process {
    padding-top: 128px;
    padding-bottom: 128px;
}

.process .container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.process__cycle {
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding-top: 48px;
    /* flex-wrap: wrap; */
}



.process__cycle__step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0 16px;

}

.process__cycle__step p {
    text-align: left;
}

.circle {
    width: 24px;
    height: 24px;
    background-color: rgba(36, 5, 242, 1);
    border-radius: 50%;
}


.line {
    width: 224px;
    border-top: 2px dashed #2405f2;
    opacity: 40%;
}

.circle-line {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.process h6 {
    margin-top: 32px;
}

/*//////////////// Our Mission ///////////////////*/
.mission {
    padding-top: 128px;
    background-color: rgba(238, 244, 250, 1);
    padding-bottom: 128px;
}



.mission .container {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}

.mission__content {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.mission__text {
    width: 100%;
    margin-right: 140px;
}

.mission-img {
    width: 100%;
}

.vision {
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
}

.vision__text {
    width: 100%;
    margin-left: 140px;

}

.vision__img {
    margin-right: 15px;
    width: 100%;
}

/*//////////////// benefits  ///////////////////*/
.benefits {
    padding-top: 128px;
    padding-bottom: 128px;


}

.benefits__header {
    text-align: center;
    padding-bottom: 48px;
}

.benefits__cards {
    display: flex;
    justify-content: space-between;
}

.benefits__card {
    margin: 0px 16px;
    padding-top: 50px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 38px;
    background-color: rgba(244, 246, 252, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.benefits__card__icon {
    padding-bottom: 26px;
}

.benefits__card h4 {
    padding-bottom: 12px;

}

.benefits__Partners img {
    width: 100%;
    margin-left: 10px;
}

.benefits__Partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 48px;

}

.benefits__Partners li {
    list-style: none;
}

/* <!-- //////////// our tem section ///////////// --> */
.ourteam {
    background-color: rgba(244, 246, 252, 1);
    padding-top: 128px;
    padding-bottom: 128px;
}

.ourteam .container {
    display: flex;
    flex-direction: column;
}

.ourteam__header {
    text-align: center;
    padding-bottom: 48px;
}

.ourteam__cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.ourteam__cards__card {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    padding: 48px 64px 32px;
}

.card_margin {
    width: 25%;
    padding: 0 16px;
}

.ourteam__cards__card__img {
    padding-bottom: 30px;
}



.ourteam__cards__card h3 {
    padding-bottom: 2px;
}



/* <!-- //////////// footer section ///////////// --> */
.footer {
    background-color: #1C1E53;
}

.footer .container {
    padding-top: 96px;
}

.footer__text {
    display: flex;
}

.footer__text__left {
    padding: 8px 118px 0px 0px;
}

.about__text__left__logo {

    width: 10rem;
}

.footer__text p {
    margin-top: 23.59px;
    color: #FFFFFF;
    opacity: 80%;
}

.about__text__right h2 {
    font-size: 48px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 64px;

}

.about__text__right {
    padding-top: 0px;
    margin-left: 142px;
}

.social_icons {
    margin-top: 28px;
    display: flex;
    width: 144px;
    height: 18px;
    justify-content: space-between;
    color: white;
}

.about__contact_us {
    background-color: rgba(252, 217, 128, 1);
    margin-top: 86px;
    /* width: 100%; */
    width: 40%;
    margin-left: 110px;
}

.about__contact_us p {
    color: rgba(40, 41, 56, 1);
}

.about__contact_us .content {
    padding: 17px 137px 16px 37px;
    display: flex;
    justify-content: space-between;

}

.about__contact_us__left {
    margin-right: 29px;
}

.footer__copyright {
    background-color: rgba(255, 255, 255, 1);


}

.footer__copyright .container {
    padding: 32px 0px;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.footer__links {
    display: flex;
    align-items: center;
}

.footer__links a:hover {
    color: rgba(252, 217, 128, 1);
}

.footer__links ul {
    display: flex;
}


.footer__links li {
    list-style: none;
    padding-left: 32px;

}

.footer__links a {
    text-decoration: none;
    color: rgba(40, 41, 56, 1);
}
















/* <!-- //////////// responsice ///////////// --> */


@media (max-width:992px) {
    h3 {
        font-size: 25px;

    }

    .navbar .container {
        text-align: center;

        flex-wrap: wrap;
        justify-content: center;
    }

    #Contact_button {
        padding: 6px 12px;
        margin: 10px 0px;
    }

    .nav__links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav__links ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .herosection .container {
        flex-wrap: wrap;
    }

    .herosection__img {
        margin-top: 25px;
    }


    .goalsection .container {
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
    }

    .goalsection__text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0px;
    }


    .process__cycle {
        justify-content: center;
        flex-wrap: wrap;
    }

    .mission__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .mission__text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .mission-img {
        margin-top: 10px;
    }

    .vision {
        display: flex;
        flex-direction: column;
    }

    .vision__text {
        margin: 0px;
    }


    .benefits .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .benefits__cards {
        display: flex;
        flex-direction: column;
    }

    .benefits__card {
        margin-bottom: 15px;
    }

    .benefits__Partners {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .benefits__Partners li {
        margin-bottom: 20px;
    }

    .ourteam__cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .ourteam__cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .card_margin {
        margin-bottom: 20px;
        width: 70%;
    }

    .about__text__right {
        display: flex;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .footer__text {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        text-align: center;
    }

    .footer .container {
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    .footer__text__left {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 0px;
    }

    .footer .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about__contact_us {
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .about__contact_us .content {
        padding: 17px;

    }

    .footer__links ul {
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .process__cycle__step {
        margin-bottom: 30px;
    }

    .process h6 {
        margin-top: 10px;
    }


}