* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

.container {
    width: 80%;
    margin: 0 auto;

}

h4 {
    line-height: 32px;
    font-size: 18px;
    color: rgba(40, 41, 56, 1);
    font-weight: 400px;
}

h1 {
    line-height: 74px;
    font-size: 54px;
    color: rgba(40, 41, 56, 1);
    font-weight: 600px;

}

p {
    line-height: 28px;
    font-size: 16px;
    color: rgba(40, 41, 56, 1);
    font-weight: 400px;

}









/*///////////////// sections /////////////////// */


.navbar {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #1C1E53;

}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__links a:hover {
    color: rgba(255, 255, 255, 1)
}

.nav__links ul {
    display: flex;
}

.nav__links li {
    list-style: none;
    padding-left: 32px;

}

.nav__links a {
    text-decoration: none;
    color: rgba(187, 187, 203, 1);
}

#Contact_button {
    margin-left: 48px;
}

#Contact_button {
    padding: 16px 48px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.2);
}

#Contact_button:hover {

    border: 2px solid rgba(255, 255, 255, 1);
}



/*//////////////////herosectin///////////////*/

.herosection {
    padding-top: 128px;
    /* padding-left: 160px;
    padding-right: 160px; */
}

.herosection .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.herosection__img img {
    width: 100%;
}


/*////////////////goalsection///////////////////*/
.goalsection {
    padding-top: 128px;

}

.goalsection .container {
    background-color: #F4F5F5;

}

.goalsection__text {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
}


.goalsection__text__right {
    padding-top: 32px;

}

.goalsection__photo img {
    width: 100%;
}

/*////////////////processsection///////////////////*/
.process {
    padding-top: 128px;
}

.process .container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.process__cycle {
    justify-content: space-between;
    display: flex;
    padding-top: 48px;
}

.circle-line {
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.process__cycle__step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.circle {
    width: 24px;
    height: 24px;
    background-color: blue;
    border-radius: 50%;
}

.circle-line hr {
    opacity: 40%;
    border: none;
    border-top: 4px dotted rgba(36, 5, 242, 1);
    width: 224px;
    margin: 0px;
}